# Domain Configuration
NEXT_PUBLIC_SITE_URL=https://hytaleworld.net
NEXT_PUBLIC_SERVER_ADDRESS=play.hytaleworld.net
NEXT_PUBLIC_SITE_NAME=HytaleWorld - Best Hytale Server

# Discord
NEXT_PUBLIC_DISCORD_INVITE=https://discord.gg/hytaleworld

# Database
DB_HOST=ms3698.gamedata.io
DB_PORT=3306
DB_USER=ni12612013_1_DB
DB_PASSWORD=oaynR9oh
DB_NAME=ni12612013_1_DB

